.container .login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-organic-vegetables-promotion-simple-banner-image_185232.jpg");
  background-size: cover;
  background-position: center;
}

.loginTitle h1 {
  color: rgb(83, 83, 241);
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.loginWrapper {
  padding: 20px;
}

.loginForm {
  background-color: white;
  padding: 20px;
  width: 600px;
}
